<p id="notice"><%= notice %></p>

<p>
  <strong>Advertiser:</strong>
  <%= @campaign.advertiser %>
</p>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @campaign.end_date %>
</p>

<p>
  <strong>Cost model:</strong>
  <%= @campaign.cost_model %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @campaign.cost %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign) %> |
<%= link_to 'Back', campaigns_path %>
